@main {
  <div class="container">
    <div class="row">
      <div class=" picturemain">
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>BORAVAK U APARTMANU</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">
        <p><b>Da li apartman mogu koristiti sa mojim prijateljima iz Beograda?</b></p>

       <p>U apartmanima mozete neometano primati dnevne i nocne posete.
         S obzirom da se nasi apartmani izdaju prema broju osoba nocenje je dozvoljeno samo osobama koje su navedene prilikom rezervacije.</p>

        <p><b>sta ce me cekati u frizideru?</b></p>

        <p>Frizideri u nasim apartmanima imaju mini bar.
          Ukoliko imate neku posebnu zelju u vezi sa sadrzajem frizidera, ne ustrucavajte se da nas kontaktirate pre Vaseg dolaska.
          Potrudicemo se da udovoljimo Vasoj zelji.</p>

          <p><b>Koliko cesto se menjaju posteljina i peskiri?</b></p>

        <p>U svim nasim apartmanima obezbedjena je posteljina i peskiri za onoliko osoba koliko je najavljeno prilikom rezervacije.
          Zamena posteljine vrsi se svakih sedam dana ukoliko Vasa rezervacija traje duze od tog.
          Peskiri se menjaju svaka 3 dana.</p>

            <p><b>Izgubio sam klju?!</b></p>

        <p>U slucaju da izgubite kljuc duzni ste snositi troskove zamene brave i kljuceva na apartmanu.</p>

              <p><b>Ima li internet u apartmanu?</b></p>

        <p>U svakom apartmanu se nalazi ADSL ili kablovski internet  a svi apartmani imaju wireless modeme.</p>

                <p><b>Ima li telefon u apartmanu?</b></p>

        <p>Vecina nasih apartmana ima fiksni telefon.
          Iz objektivnih razloga sa tih telefona je onemoguceno biranje brojeva van Beograda, dok je primanje poziva neograniceno.
          Ako ipak insistirate na fiksnim odlaznim pozivima van Beograda preporucujemo da se o tom detalju raspitate pre konacne rezervacije.</p>
      </div>
    </div>
  </div>
}