@main{
  <div class="container">
    <div class="row">
      <div class=" picturemain">
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>Dolazak i odlazak</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">
        <p><b>Kako da dodjem do apartmana?</b></p>


        <p>Prilikom potvrde rezervacije bice Vam dostavljena detaljna mapa apartmana iz pravca iz kog dolazite putem E-poste.
          Ukoliko dolazite avionom, autobusom, vozom, moze vas docekati nas voza?.</p>

        <p><b>Kada mogu uci u apartman?</b></p>

        <p>U nase apartmane se ulazi posle 14 casova.
          U slucaju da je apartman prethodni dan prazan ili trenutni gosti odlaze ranije, moguce je uci i pre 14 casova.
          Svakako je najbolje da se o mogucnosti ranijeg ulaska raspitate dan pred boravak.</p>

        <p><b>Ko ce mi dati kljuceve?</b></p>

        <p>U vecini slucajeva na adresi apartmana ce Vas sacekati vlasnik koji ce Vas uvesti u stan, potpisati ugovor, predati kljuceve, izvrsiti naplatu i pokazati mogucnosti apartmana.</p>

        <p><b>Dolazim posle 20 casova. sta onda?</b></p>

        <p>U StanNaDan ste dobrodosli u bilo koje doba dana ili noci.
          Ulazak u apartmane je moguc od 0-24h s tim sto se u periodu od 23:59 do 08 casova posebno tarifira (rani ili kasni dolazak pogledati u dodatnim uslugama).</p>

        <p><b>sta da radim sa kljucevima kad dodje vreme odlaska?</b></p>

        <p>Kljucevi se predaju istoj osobi koja Vas je i smestila po zajednickom obilasku i proveri stanja apartmana i naplate mini bara ukoliko je koristen.</p>

        <p><b> Da li je moguce da neko drugi preuzme kljuceve umesto mene?</b></p>

        <p>Moguce je ali bi ta osoba bila duzna i da potpise ugovor i izvrsi placanje umesto Vas.
          Po Vasem dolasku neophodno je izvrsiti Vasu evidenciju.</p>
      </div>
    </div>
  </div>
}