@main{
  <div class="container">
    <div class="row">
      <div class=" picturemain">
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>Kucni red</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">
      <p>Apatman se izdaje dnevno i mora se napustiti do 12:00 casova na dan izlaska, osim ako je ugovorom drugacije predvidjeno.</p>

       <p> Zadrzavanje apartmana posle 12:00 casova povlaci naplatu narednog dana.</p>

        <p> Gosti su duzni da svoje dragocenosti nose sa sobom. StanNaDan Vam iz objektivnih razloga ne moze garantovati za iste.</p>

        <p> U apartmane nije dozvoljeno uvoditi kucne ljubimce.</p>

        <p> Gosti su su duzni da cuvaju apartman, inventar i instalacije. Svaka napravljena steta mora biri nadoknadjena.</p>

        <p> Gosti ne smeju izazivati neugodnu buku, galamu i remetiti javni red i mir. Ovo posebno vazi od 14 do 17h kao i od 22 do 09h.</p>

        <p> U apartmanima je moguce neometano primati posetioce, ukoliiko se isti drze kucnog reda. <b style="color: red">zurke i sedeljke su APSOLUTNO zabranjene.</b></p>

        <p>StanNaDan ima pravo da u slucaju nepridrzavanja kucnog reda otkaze koristenje apartmana gostu i da ga proglasi “nepozeljnim”.</p>

        <p>Sa fiksnih telefona u nasim apartmanima dozvoljeno je neometano telefoniranje u lokalu kao i primanje svih poziva. Pozivi van Beograde su blokirani kao i 0.</p>

        <p>Molimo goste da bilo kakvu nepravilnost, zamerku ili problem prijave agenciji na  + 381 65 42 43 500.</p>

        <p><b> Hvala Vam sto ste nas izabrali</b></p>

        <p><b>Iskreno Vas, StanNaDan</b></p>




      </div>

    </div>
  </div>

}