@main {
  <div class="container">
    <div class="row">
      <div class=" picturemain">
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>Placanje</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">

        <p><b>sta sve cena boravka obuhvata?</b></p>

        <p>Obuhvata:</p>
        <li>boravak u apartmanu</li>
        <li>Ciscenje (pre i posle vaseg boravka kao i jednom nedeljno ukoliko je boravak duzi od 7 dana. Postoji mogucnost dnevnog odrzavanja ali se posebno tarifira. Pogledajte u dodatnim uslugama.</li>
        <li>infostan (rezijski troskovi)</li>
        <li>telefon u lokalu</li>
        <li>internet i kablovsku TV.</li>

        <p><b>Kada i kome placam?</b></p>

        <p>Placanje se vrsi prilikom preuzimanja kljuceva osobi koja Vam preda kljuceve i koja sa Vama potpise ugovor.</p>

        <p><b>Mogu li platiti u evrima ili nekoj drugoj stranoj valuti?</b></p>

        <p>Placanje se vrsi iskljucivo u dinarima, po gornjem kursu narodne banke Srbije na dan kada se vrsi placanje.
          Obzirom da se svi nasi apartmani nalaze u blizini neke menjacnice,  novac u stranoj valuti nece predstavljati nikakav problem.</p>

        <p><b> Mogu li platiti karticom ili cekovima?</b></p>

        <p>Placanje je moguce izvrsiti u gotovini i kreditnim karticama preko PAY PAL servisa (samo za uplatu depozita) kao i postanskom uputnicom za gradjane Bosne.
          Za placanje preko PAY PAL servisa na ukupnu cenu obracunava se dodatnih 4% koliko iznose troskovi transfera.
          Drzavljanima pojedinih zemalja nije omoguceno placanje preko PAY PAL servisa sto zavisi od bankarske politike tih zemalja.
          Svi nasi stanovi nalaze se u neposrednoj blizini nekog bankomata, tako da Vam dolazak do gotovine nece predstavljati nikakav problem.
          Placanje cekovima gradjana nije moguce.</p>

        <p><b> Mogu li platiti na kraju boravka?</b></p>

        <p>Placanje se vrsi ISKLJUCIVO unapred, prilikom preuzimanja kljuceva.
          Ako iz bilo kog razloga niste u mogucnosti da celu sumu platite odjednom, moguce je parcijalno placanje ali uvek za dane unapred.</p>

        <p><b>Moram li uplatiti avans kako bi mi rezervacija bila sigurna?</b></p>

        <p> Avans od 20 %  od ukupne sume se placa za sve boravke duze od 5 nocenja a za kraci boravak depozit je u visini 1 nocenja (u slucaju otkazivanja avans se ne vraca).
          Za vremenski blize rezervacije avans nije neophodan a Vasa rezervacija je u svakom slucaju sigurna.
          Ukoliko ipak zelite uplatiti avans, nas racun ce Vam biti blagovremeno dostavljen.</p>
      </div>
    </div>
  </div>
}