@main{
  <div class="container">
    <div class="row">
      <div class=" picturemain">
      </div>

      <div class="col-md-12">
        <div class="cbx-heading2 text-center">
          <h2>Sve o rezervacijama</h2>
        </div>
      </div>

      <div class="col-md-12 cooperation-text">
        <p><b>Kako da rezervisem apartman koji sam odabrao-la?</b></p>

       <p> Kada odete na stranicu na kojoj se nalazi apartman koji Vam se dopada, dovoljno je da nam posaljete E-postu sa adrese u gornjem desnom uglu sa sledecim podacima: Ime i Prezime, broj telefona, datum dolaska i odlaska kao i sve dodatne zahteve ukoliko ih imate .
        Vasa rezervacija ce biti vazeca tek kada dobijete potvrdan odgovor.
        Takodje, rezervaciju mozete ostvariti i telefonskim pozivom.</p>

        <p><b>Da li je moja rezervacija vazeca ako nisam dobio odgovor?</b></p>

        <p>Vasa rezervacija nije vazeca sve dok od nas ne dobijete potvrdan odgovor putem E-poste.
        Ukoliko rezervisete telefonskim pozivom potvrda iste je obavezna putem E-poste.
        Sa pozitivnim odgovorom Vasa rezervacija je sigurna i taj period je blokiran.</p>

        <p><b>Da li moram da uplatim avans da bih osigurao-la moju rezervaciju?</b></p>

        <p>Avans od 20% je obavezan (Nova Godina 50%) za boravke duze od 2 dana (u slucaju otkazivanja avans se ne vraca).
        Placanje avansa je moguce izvrsiti u gotovini, postanskom uputnicom za gradjane Srbije kao i kreditnim karticama preko PAY PAL servisa.
        Za placanje preko PAY PAL servisa na ukupnu cenu obracunava se dodatnih 4% koliko iznose troskovi transfera.
        Za kraci boravak avans nije neophodan.</p>

        <p><b> sta ako se pre mog dolaska desi neka nepredvidjena okolnost zbog koje ne mogu uci u apartman?</b></p>

        <p>Ukoliko dodje do nepredvidjenih okolnosti zbog kojih nismo u mogucnosti da Vam osiguramo vec potvrdjeni najam apartmana (visa sila), potrudicemo se da Vam osiguramo po kvalitetu isti, ili bolji smestaj u jednom od nasih apartmana.
        U tom slucaju nemate nikakvih dodatnih troskova, vec najam koji ste platili ili koji je dogovoren pokriva troskove najma zamenskog apartmana.
        Ukoliko nikako nismo u mogucnosti da Vam osiguramo zamenski smestaj ili smo prisiljeni da otkazemo vec potvrdjeni najam zbog razloga na koji StanNaDan nema nikakvog uticaja (visa sila), iznos koji (ako) ste vec uplatili biti ce Vam u potpunosti vracen, pa u tom slucaju StanNaDan nece imati nikakvih daljih obaveza.</p>

        <p><b>sta ako zelim da otkazem rezervaciju?</b></p>

        <p>Ako iz bilo kog razloga zelite otkazati rezervaciju,  najljubaznije Vas molimo da to uradite blagovremeno, ili eventualno onog momenta kad saznate da Vam apartman nije potreban.
        Molimo Vas takodje da rezervaciju otkazete iskljucivo telefonskim pozivom ili SMS-om na  +381 65 42 43 500.
        Placena akontacija se ne vraca ukoliko drugacije nije dogovoreno.</p>

        <p><b> Ako zelim da skratim vreme boravka u apartmanu, da li cu dobiti deo novca nazad?</b></p>

        <p>U slucaju ranijeg odlaska, s obzirom da je naplata smestaja izvrsena unapred, nase je pravo da zadrzimo celokupnu naplacenu sumu ukoliko ne nacemo zamenu za isti ili duzi period.</p>

      </div>
    </div>
  </div>
}