@(apartment: Apartment)
@main {

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cbx-heading2 text-center">
                        <h2 class="uppercase wow fadeInUp">DODAJ NOVI APARTMAN</h2>
                        <hr noshade size="" width="" color="">
                        <p class=" wow flipInY">Molimo unesite sve informacije kako bi apartman bio uspjesno unesen u bazu</p>
                    </div>
                </div>
            </div><!-- //ROW Our Team Header -->

            <div class="row">
                @if(flash.containsKey("error")) {
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Message:</span>
                        @flash.get("error")
                    </div>
                }
                <form method="post" class="form-horizontal lz-contact-form cbx-contactform" role="form" action="@routes.Apartments.updateApartment(apartment.id)" >
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Naziv apartmana</h4>
                                <input type="text" name="name" class="form-control cbxname lz-git-form-control" id="apname" value="@apartment.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Kratki opis</h4>
                                <input type="text" name="title" class="form-control cbxname lz-git-form-control" id="aptitle" value="@apartment.title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Grad</h4>
                                <select name="location"  class="form-control cbxname lz-git-form-control placeholder-style" id="ddlocation">
                                    <option selected>@apartment.location</option>
                                    <option>Sarajevo</option>
                                    <option>Mostar</option>
                                    <option>Banja Luka</option>
                                    <option>Zenica</option>
                                    <option>Tuzla</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="opstine">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Naselje</h4>
                                <select name="neighborhood"  class="form-control cbxname lz-git-form-control placeholder-style">
                                    <option selected>@apartment.neighborhood</option>
                                    <option>Centar</option>
                                    <option>Novo Sarajevo</option>
                                    <option>Novi Grad</option>
                                    <option>Stari Grad</option>
                                    <option>Ilidza</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Adresa</h4>
                                <input type="text" name="address" class="form-control cbxname lz-git-form-control" id="apstreet" value="@apartment.address" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Cijena</h4>
                                <input type="number" min="1" name="price" class="form-control cbxname lz-git-form-control" id="apprice" value="@apartment.price">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Broj osoba (kapacitet)</h4>
                                <input type="number" min="1" name="capacity" class="form-control cbxname lz-git-form-control" id="appersons" value="@apartment.capacity" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Broj kreveta</h4>
                                <input type="number" min="1" name="beds" class="form-control cbxname lz-git-form-control" id="apbeds" value="@apartment.beds" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Broj soba</h4>
                                <input type="number" min="1" name="rooms" class="form-control cbxname lz-git-form-control" id="aprooms" value="@apartment.rooms" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Površina</h4>
                                <input type="number" min="1" name="area" class="form-control cbxname lz-git-form-control" id="apares" value="@apartment.area" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h4 class="edit-label">Sprat</h4>
                                <input type="number" name="floor" min="1" class="form-control cbxname lz-git-form-control" id="apfloor" value="@apartment.floor" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1" >
                                <div class="cbx-heading4 text-center">
                                    <h3 class="edit-label">Dodatni sadržaji apartmana</h3>
                                </div>
                                <div>
                                    <input type="checkbox" name="parking" value="parking" style="width: 16px; height: 16px;">
                                    <label  for="parking">Parking</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="washingmachine" value="washingmachine" class="checkboxs">
                                    <label  for="washingmachine">Mašina za veš</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="balcony" value="balcony" class="checkboxs">
                                    <label  for="balcony">Terasa</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="lift" value="lift" class="checkboxs">
                                    <label  for="lift">Lift</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="pets" value="pets" class="checkboxs">
                                    <label  for="pets">Kućni ljubimci</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <textarea name="description" id="textarea_2" class="form-control cbxmessage lz-git-form-control" rows="15" required>@apartment.description</textarea>
                                <label id="cbxmessage-error" class="error valid" for="cbxmessage"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div id="map" class="map2"></div>
                            </div>
                            <input id="lat" name="lat" value="@apartment.lat"  style="display : none">
                            <input id="lng" name="lng" value="@apartment.lng"  style="display : none">
                        </div>

                        <div id="infoPanel" style="display : none">
                            <b>Marker status:</b>
                            <div id="markerStatus"><i>Click and drag the marker.</i></div>
                            <b>Current position:</b>
                            <div id="info"></div>
                        </div>
                    </div>


                    <div class="col-md-6 col-md-offset-3 xs-text-center cbx-submit-area">
                        <button type="submit" name="update" class="btn btn-block lz-git-submit-btn cbx-submit" id="apcreatebutton">Ažuriraj</button>
                    </div>
                </form>

                <form method="get" class="form-horizontal lz-contact-form cbx-contactform" role="form" action="@routes.ImageUpload.uploadRender(apartment.id)" >
                    <div class="col-md-6 col-md-offset-3 xs-text-center cbx-submit-area">
                        <button type="submit"  class="btn btn-block lz-git-submit-btn cbx-submit" id="apcreatebutton">Dodaj slike</button>
                    </div>
                </form>

            </div>
        </div>

    </section>
    <script  src='@routes.Assets.versioned("javascripts/googlemap.js")'></script>
    <script  src='@routes.Assets.versioned("javascripts/showhidetownships.js")'></script>


}